extends layout


block content
  .container 
    .row 
      -
        let results = [
          { title: "Henry's Adventures", author: "Henry", price: 19.99},
          { title: "Maze Walker", author: "Doorly", price: 29.99},
          { title: "Sharks", author: "Hammerhead", price: 9.99},
        ]
      each item in results
          .col-sm-4 
            .book 
              h3= item.title
              p Author: #{item.author}
              p Price: $#{item.price.toFixed(2)}

